Source: sidux-manual-reader
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com>
Build-Depends: debhelper (>= 7.4.16),
 libqt4-dev,
 qt4-qmake
Build-Conflicts: libqt3-dev
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-manual-reader/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-manual-reader/trunk/

Package: sidux-manual-reader
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 menu,
 sidux-apt-qt4,
 sidux-manual-common 
Description: sidux manual reader
 A reader for the sidux manual.
