Source: aptosid-manual-reader
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@aptosid.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@aptosid.com>
Build-Depends: debhelper (>= 7.9.3),
 libqt4-dev,
 qt4-qmake
Build-Conflicts: libqt3-dev
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-manual-reader/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-manual-reader/trunk/

Package: aptosid-manual-reader
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 menu,
 aptosid-apt-qt4,
 aptosid-manual-common 
Description: aptosid manual reader
 A reader for the aptosid manual.
